#!/bin/bash

##############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/fennec-devs/kernel_xiaomi_ginkgo -b nethunter-10.0
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##############################################################################################

# Kernel local name
export LOCALVERSION=-QuicksilveR™-basdxz-NetHunter

# Enable ccache to speed up compilation
CCACHE=true

# Clang
export CLANG_ROOT=${TD}/clang-11.0
export CLANG_PATH=${CLANG_ROOT}/bin
export PATH=${CLANG_PATH}:${PATH}
export LD_LIBRARY_PATH=${CLANG_ROOT}/lib64:$LD_LIBRARY_PATH

## Source repository:
#Grab clang yourself
#git clone https://github.com/trinket-devs/proton-clang.git ~/android/toolchains/clang-11.0 --depth=1

# Package dependencies
DEBIAN_DEPEND="axel bc build-essential ccache curl device-tree-compiler pandoc libncurses5-dev lynx lz4 fakeroot xz-utils whiptail libssl-dev" 
